.body {
    height: 850px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: rgb(214, 182, 244);
}
.name {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
}
.first-block {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.school {
    height: 100px;
    width: 200px;
}
.hoby {
    height: 100px;
    width: 200px;
}

.second-block {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}
.like {
    height: 100px;
    width: 200px;
}
.special {
    height: 100px;
    width: 200px;
}
.fight {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
